@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&family=Work+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

/*----- Root Colors -----*/
:root {
  --darkGreen: #617868;
  --lightGreen: #cee5d0;
  --black: #242424;
  --lightestColor: #FCF8E8;
  --orange: #ECB390;
}

/*------ General Body ------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
a:hover {
  cursor: pointer !important
}
body {
  color: var(--black);
  font-size: 1.2em;
  line-height: 1.6;
  background: var(--lightGreen);
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
}
main {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sora', sans-serif;
}

/*------ Navigation ------*/
#menu--toggle[type="checkbox"]:not(:checked),
 #menu--toggle[type="checkbox"]:checked {
  display: none;
}

.menu--toggle__trigger, 
.menu--toggle__burger,
 .menu--toggle__burger:before,
  .menu--toggle__burger:after {
  position: absolute;
  top: 1.6em;
  right: 1.6em;
  width: 2em;
  height: 3px;
  background-color: var(--darkGreen);
  border-radius: 2px;
  cursor: pointer;
  z-index: 100;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.menu--toggle__trigger {
  height: 2em;
  background: none;
}

.menu--toggle__burger:before {
  content: "";
  top: 10px;
  right: 0;
}

.menu--toggle__burger:after {
  content: "";
  top: 20px;
  right: 0;
}

.menu__body {
  position: absolute;
  width: 7em;
  height: 7em;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: var(--lightGreen);
  border-bottom-left-radius: 100%;
  border: 1px solid var(--darkGreen);
  z-index: 10;
  animation: checkboxUncheckedAnimation 0.35s both;
}

.menu__body-element,
.menu__body-link {
  display: none;
  margin: 3.5em 0 -3.3em -0.1em;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: var(--darkGreen);
  outline: 0;
}

.menu__body-link{
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  transition: all 250ms linear;
}

.menu__body-element {
  text-indent: 2em;
}

.menu__body-link:hover {
  display: block;
  width: 0;
  color: var(--lightestColor);
  animation: changeWidthOfElementAnimation 0.35s both;
}

.menu__body-link:after{
  display: block;
  position: absolute;
  top: 50%;
  content: '';
  height: 2vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: var(--lightGreen);
  opacity: 0.8;
  transition: width 250ms linear;
}

.menu__body-link:hover:after{
  width: 100%;
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger {
  top: 35px;
  transform: rotate(405deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:before {
  top: 0;
  transform: rotate(-90deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger:after {
  top: 0;
  transform: rotate(90deg);
  transition: transform 0.35s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#menu--toggle:checked + .menu--toggle__trigger + .menu--toggle__burger + .menu__body {
  animation: checkboxCheckedAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

#menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-element, #menu--toggle:checked + .menu--toggle__trigger ~ .menu__body .menu__body-link {
  display: block;
}

@keyframes checkboxCheckedAnimation {
  50% {
    width: 100vw;
    height: 100vh;
  }
  100% {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
@keyframes checkboxUncheckedAnimation {
  0% {
    width: 100vw;
    height: 100vh;
  }
}
@keyframes changeWidthOfElementAnimation {
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/*--------- Container -------*/
.container {
  padding: 5%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/*------ Headline -----*/
.leftText,
.rightImg {
  max-width: 50%;
}

.smallHd {
  margin-bottom: 11px;
  color: var(--black);
  font-weight: 500;
  letter-spacing: 9px;
  text-transform: uppercase;
  font-size: 14px;
}

.headline {
  margin-top: 9px;
  color: var(--black);
  font-size: 5rem;
  line-height: 5rem;
  text-shadow: 2px 2px 0 var(--lightGreen), 4px 4px 0 var(--darkGreen);
}

.outlineText {
  color: var(--lightGreen);
  text-shadow: -1.5px -1.5px 0 var(--darkGreen),
    1.5px -1.5px 0 var(--darkGreen),
    -1.5px 1.5px 0 var(--darkGreen),
    1.5px 1.5px 0 var(--darkGreen);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

}

/*----- Body -------*/
.leftText {
  margin-right: 3rem;
  flex: 1 1 auto;
}

.rightImg img {
  align-self: flex-start;
  order: 1;
  flex: 1 1 auto;
  border-radius: .5rem 5rem;
  box-shadow: 10px 8px 0 6px var(--darkGreen);
  object-fit: cover;
}

.aboutImg {
max-height: 550px;
}

.button {
  position: relative;
  display: inline-block;
  border: solid 1px var(--darkGreen);
  border-radius: 4px 14px;
  background-color: transparent;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  color: var(--darkGreen);
  font-size: 17px;
  padding: 10px 20px;
  z-index: 3;
}

.button:link {
  text-decoration: none;
}

.button:hover {
  background-color: var(--darkGreen);
  color: var(--lightestColor);
}

.button:active {
  position: relative;
  top: 1px;
}

.line {
  margin-bottom: 3rem;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--darkGreen);
  width: 100%;
}

@media screen and (max-width:920px) {
  .leftText {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}
.rightImg {
  display: none;
}
}
@media screen and (max-width:700px){
  .headline {
    font-size: 3rem;
    line-height: 3rem;
  }
  .smallHd{
    font-size: 12px;
    letter-spacing: 5px;
  }
}
/*----- Card -----*/
.card {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: transparent;
  border: 1px solid var(--darkGreen);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
  margin-bottom: 3rem;

}

@media screen and (max-width: 992px) {
  .card {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .card {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .card {
    height: 350px;
  }
}

.cardItem {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cardItem {
    flex-direction: column;
  }
  .cardItem2 {
    flex-direction: column-reverse;
  }
}

.cardImgLeft,
.cardImgRight {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, var(--lightGreen) 0%, var(--darkGreen) 74%);
  box-shadow: 4px 13px 30px 1px rgba(96, 121, 104, 0.2);
  border-radius: .5rem 5rem;
  overflow: hidden;
}

.cardImgLeft {
  transform: translateX(-80px);
}

.cardImgRight {
  transform: translateX(80px);
}

.cardImgLeft:after,
.cardImgRight:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, var(--lightGreen) 0%, var(--darkGreen) 74%);
  border-radius: .5rem 5rem;
  opacity: 1;
}

.cardImgLeft img,
.cardImgRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 1;
  border-radius: .5rem 5rem;
  transform: translate(0px, 0px);
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 2;
  position: relative;
}


.cardItem img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .cardImgLeft,
  .cardImgRight {
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .cardImgLeft,
  .cardImgRight {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .cardImgLeft,
  .cardImgRight {
    height: 270px;
  }
}

.cardContent {
  padding-right: 25px;
  padding-left: 25px;
}

@media screen and (max-width: 768px) {
  .cardContent {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .cardContent {
    padding: 0;
  }
}

.cardCode {
  color: var(--black);
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.CardTitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--darkGreen);
  margin-bottom: 20px;
}

.cardText {
  color: var(--darkGreen);
  margin-bottom: 30px;
  line-height: 1.5em;
}

.cardButton {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  .cardButton {
    width: 100%;
  }
}


/*----- Footer -----*/

footer {
  height: 300px;
  background-color: var(--darkGreen);
  position: relative;
  bottom: -10px;
  xleft: -8.2px;
}

footer .footer__inner {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 40px 60px;
  width: 100%;
}

footer .footer__inner * {
  color: var(--lightGreen);
}

footer .logo {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 80px;

}

footer .hide {
  transform: translateY(50px);
  opacity: 0;
  transition: transform, opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease;
}

footer .hide.show {
  transform: translateY(0);
  opacity: 1;
}

footer .foot-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*----- Animations ------*/

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-5 11:42:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1.5s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1.2s;
} /* So they look staggered */
@keyframes come-in {to { 
  transform: translateY(0); 
  }
}